<div class="p-5">
  <div class="mb-4 border-b border-gray-200 dark:border-gray-700 w-fit">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-sm font-semibold !text-primary hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 !border-primary dark:border-purple-500" data-tabs-inactive-classes="dark:border-transparent !text-secondary hover:text-gray-600 dark:text-gray-400 border-gray-100 !hover:border-primary dark:border-gray-700 dark:hover:text-gray-300" role="tablist">
      <li class="mr-1" role="presentation">
        <button class="inline-block p-4 border-b-[3px] rounded-t-lg" id="Personaldata-styled-tab" data-tabs-target="#styled-Personaldata" type="button" role="tab" aria-controls="Personaldata" aria-selected="false">Personal data</button>
      </li>
      <li class="mr-1" role="presentation">
        <button class="inline-block p-4 border-b-[3px] rounded-t-lg" id="password-styled-tab" data-tabs-target="#styled-password" type="button" role="tab" aria-controls="password" aria-selected="false">Password</button>
      </li>
    </ul>
  </div>
  <div id="default-styled-tab-content">
    <div class="hidden bg-white" id="styled-Personaldata" role="tabpanel" aria-labelledby="Personaldata-tab">
      <div class="w-full max-w-[580px]">
        <p class="text-black text-lg font-semibold">Personal data</p>
        <p class="text-secondary font-normal text-sm mt-3">You can change your data</p>
        <%= form_with(model: current_admin, url: admins_setting_path(current_admin), method: :put, local: true) do |form| %>
          <div class="flex justify-between sm:items-center max-sm:flex-col gap-1 mt-3 lg:mt-6">
            <label class="text-sm font-medium text-typo">Full Name</label>
            <%= form.text_field :full_name, class: "border border-gray-2 hover:border-primary focus:ring-0 bg-gray-3 rounded-md !outline-none text-sm block w-full sm:max-w-[380px] px-3 py-3", placeholder: "enter full name", required: true %>
          </div>
          <div class="flex justify-between sm:items-center max-sm:flex-col gap-1 mt-4">
            <label class="text-sm font-medium text-typo">Email</label>
            <%= form.email_field :email, class: "border border-gray-2 hover:border-primary focus:ring-0 bg-gray-3 rounded-md !outline-none text-sm block w-full sm:max-w-[380px] px-3 py-3", placeholder: "enter your email", required: true %>
          </div>
          <div class="flex gap-3 justify-end mt-4 lg:mt-8">
            <button type="button" class="text-secondary w-full max-w-[107px] h-9 border border-gray-2 rounded hover:bg-primary hover:text-white transition-all">Cancel</button>
            <%= form.submit "Update Data", class: "w-full max-w-[180px] bg-primary hover:opacity-80 rounded h-9 text-white transition-all" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="hidden bg-white" id="styled-password" role="tabpanel" aria-labelledby="password-tab">
      <div class="w-full max-w-[580px]">
        <p class="text-black text-lg font-semibold">Password</p>
        <p class="text-secondary font-normal text-sm mt-3">Please enter your current password to change your password.</p>
        <%= form_with(model: current_admin, url: admins_setting_path(current_admin), method: :put, local: true) do |form| %>
          <div class="flex justify-between sm:items-center max-sm:flex-col gap-1 mt-3 lg:mt-6">
            <label class="text-sm font-medium text-typo">Current Password</label>
            <div class="relative w-full sm:max-w-[380px]">
              <%= form.password_field :current_password, class: "password-field tracking-widest border border-gray-2 hover:border-primary bg-gray-3 rounded !outline-none text-sm focus:!ring-0 block w-full px-3 py-3", placeholder: "", required: true %>
              <div class="cursor-pointer absolute top-4 right-3.5">
                <%= image_tag '/assets/svg/Eye-icon.svg', alt: '', class: 'toggle-password size-4', id: 'togglePassword2' %>
              </div>
            </div>
          </div>
          <div class="flex justify-between sm:items-center max-sm:flex-col gap-1 mt-4">
            <label class="text-sm font-medium text-typo">New Password</label>
            <div class="relative w-full sm:max-w-[380px]">
              <%= form.password_field :password, class: "password-field tracking-widest border border-gray-2 hover:border-primary bg-gray-3 rounded !outline-none text-sm focus:!ring-0 block w-full px-3 py-3", placeholder: "", required: true %>
              <div class="cursor-pointer absolute top-4 right-3.5">
                <%= image_tag '/assets/svg/Eye-icon.svg', alt: '', class: 'toggle-password size-4', id: 'togglePassword2' %>
              </div>
            </div>
          </div>
          <div class="flex justify-between sm:items-center max-sm:flex-col gap-1 mt-4">
            <label class="text-sm font-medium text-typo">Confirm Password</label>
            <div class="relative w-full sm:max-w-[380px]">
              <%= form.password_field :password_confirmation, class: "password-field tracking-widest border border-gray-2 hover:border-primary bg-gray-3 rounded !outline-none text-sm focus:!ring-0 block w-full px-3 py-3", placeholder: "", required: true %>
              <div class="cursor-pointer absolute top-4 right-3.5">
                <%= image_tag '/assets/svg/Eye-icon.svg', alt: '', class: 'toggle-password size-4', id: 'togglePassword2' %>
              </div>
            </div>
          </div>
          <div class="flex gap-3 justify-end mt-4 lg:mt-8">
            <button type="button" class="text-secondary w-full max-w-[107px] h-9 border border-gray-2 rounded hover:bg-primary hover:text-white transition-all">Cancel</button>
            <%= form.submit "Update Data", class: "w-full max-w-[180px] bg-primary hover:opacity-80 rounded h-9 text-white transition-all" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
