<div class="p-3 sm:p-5">
  <div class="">
    <div class="mb-6 max-w-[240px] w-full">
      <ul class="flex text-sm font-semibold text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-sm font-semibold !text-primary hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 !border-primary dark:border-purple-500" data-tabs-inactive-classes="dark:border-transparent !text-secondary hover:text-gray-600 dark:text-gray-400 border-gray-100 !hover:border-primary dark:border-gray-700 dark:hover:text-gray-300">
        <li class="me-2" role="presentation">
          <button class="inline-block p-4 border-b-[3px] rounded-t-lg" id="Suggestions-tab" data-tabs-target="#Suggestions" type="button" role="tab" aria-controls="Suggestions" aria-selected="false">Suggestions</button>
        </li>
        <li class="me-2" role="presentation">
          <button class="inline-block p-4 border-b-[3px] rounded-t-lg" id="Problems-tab" data-tabs-target="#Problems" type="button" role="tab" aria-controls="Problems" aria-selected="false">Problems</button>
        </li>
      </ul>
    </div>
    <div id="default-tab-content">
      <div class="hidden" id="Suggestions" role="tabpanel" aria-labelledby="Suggestions-tab">
        <div class="mb-3 px-3 py-2 bg-[#F6F6F6] rounded-md w-full">
          <ul class="flex gap-4 text-xs font-semibold text-center" id="inner-tab" data-tabs-toggle="#inner-tab-content" role="tablist">
            <li class="" role="presentation">
              <button class="inline-block text-secondary hover:!text-secondary aria-selected:!text-black" id="Requests-tab" data-tabs-target="#Requests" type="button" role="tab" aria-controls="Requests" aria-selected="false">New Requests</button>
            </li>
            <li class="" role="presentation">
              <button class="inline-block text-secondary hover:!text-secondary aria-selected:!text-black" id="Approved-tab" data-tabs-target="#Approved" type="button" role="tab" aria-controls="Approved" aria-selected="false">Approved</button>
            </li>
            <li class="" role="presentation">
              <button class="inline-block text-secondary hover:!text-secondary aria-selected:!text-black" id="Declined-tab" data-tabs-target="#Declined" type="button" role="tab" aria-controls="Declined" aria-selected="false">Declined</button>
            </li>
          </ul>
        </div>
        <div id="inner-tab-content">
          <div class="hidden" id="Requests" role="tabpanel" aria-labelledby="Requests-tab">
            <div class="overflow-x-auto scrollbar">
              <table class="min-w-full bg-white">
                <thead class="bg-[#E8F6FF]">
                  <tr>
                    <th class="text-left p-3 text-black text-sm font-medium rounded-l-md">E-mail</th>
                    <th class="text-left p-3 text-black text-sm font-medium">Course Name</th>
                    <th class="text-left p-3 text-black text-sm font-medium">Location</th>
                    <th class="text-left p-3 text-black text-sm font-medium rounded-r-md">Actions</th>
                  </tr>
                </thead>
                <tbody class="text-sm font-normal text-typo">
                  <% @new_courses.each do |course| %>
                    <tr class="border-b border-gray-2">
                      <td class="whitespace-nowrap py-4 px-3"><%= course.user.email%></td>
                      <td class="whitespace-nowrap py-4 px-3"><%= course.course_name%></td>
                      <td class="py-4 px-3">
                        <p class="line-clamp-1 max-w-[600px] w-full">
                          <%= course.course_location%>
                        </p>
                      </td>
                      <td class="py-4 px-3 flex items-center gap-3">
                        <%= button_to 'Approve', approve_admins_course_path(course), method: :patch, class: '!text-white text-xs font-normal flex items-center px-4 py-1 !bg-primary hover:opacity-80 rounded focus:outline-none cursor-pointer'%>
                        <div id="popup-modal<%= course.id %>" tabindex="-1" class="fixed hidden bg-black px-5 md:px-0 bg-opacity-50 inset-0  justify-center items-center z-50">
                          <div class="w-full max-w-[550px] h-fit relative mx-auto bg-white rounded shadow-[0px_0px_12px_0px_#0000001F]">
                            <div class="px-4 md:px-12 py-5">
                              <div class="flex justify-between items-center mb-8">
                                <h1 class="text-xl font-medium">View suggestion</h1>
                                <div data-modal-hide="popup-modal<%= course.id %>" class=" bg-transparent hover:bg-gray-200  rounded-lg p-1.5 cursor-pointer">
                                  <%= image_tag '/assets/svg/close.svg', alt: '', class: 'size-6' %>
                                </div>
                              </div>
                              <div class="flex flex-col gap-y-4 mb-4 lg:mb-8">
                                <div class="w-full">
                                  <label  class="text-sm font-medium text-primary mb-2">E-mail</label>
                                  <div  class="border border-gray-2 mt-2 rounded text-sm font-normal text-black block w-full px-3 py-2">
                                    <%= course.user.email%>
                                  </div>
                                </div>
                                <div class="w-full">
                                  <label  class="text-sm font-medium text-primary mb-2">Topic</label>
                                  <div class="border border-gray-2 mt-2 rounded text-sm font-normal text-black block w-full px-3 py-2">
                                    <%= course.course_name%>
                                  </div>
                                </div>
                                <div class="w-full">
                                  <label  class="text-sm font-medium text-primary mb-2">Description</label>
                                  <div class="line-clamp-6 whitespace-normal min-h-20 border border-gray-2 break-all mt-2 rounded text-sm font-normal text-typo block w-full px-3 py-2">
                                    <%= course.course_location%>
                                  </div>
                                </div>
                              </div>
                              <div class="flex justify-end">
                                <%= button_to 'Approve', approve_admins_course_path(course), method: :patch, class: 'w-28 py-2 flex text-xs font-normal rounded justify-center items-center bg-primary text-white cursor-pointer'%>
                              </div>
                            </div>
                          </div>
                        </div>
                        <%= button_to 'Reject', reject_admins_course_path(course), method: :patch, class: 'text-black text-xs font-normal flex items-center px-4 py-1 border border-primary rounded hover:bg-primary hover:text-white focus:outline-none cursor-pointer transition-all'%>
                        <div class="size-6 cursor-pointer" data-modal-target="popup-modal<%= course.id %>" data-modal-toggle="popup-modal<%= course.id %>">
                          <%= image_tag '/assets/svg/mdi_eye.svg', alt: '', class: '' %>
                        </div>
                      </td>
                    </tr>
                  <% end%>
                </tbody>
              </table>
            </div>
          </div>
          <div class="hidden" id="Approved" role="tabpanel" aria-labelledby="Approved-tab">
            <div class="overflow-x-auto scrollbar">
              <table class="min-w-full bg-white">
                <thead class="bg-[#E8F6FF]">
                  <tr>
                    <th class="text-left p-3 text-black text-sm font-medium rounded-l-md">E-mail</th>
                    <th class="text-left p-3 text-black text-sm font-medium">Course Name</th>
                    <th class="text-left p-3 text-black text-sm font-medium min-w-[250px]">Location</th>
                    <th class="text-left p-3 text-black text-sm font-medium rounded-r-md">Status</th>
                  </tr>
                </thead>
                <tbody class="text-sm font-normal text-typo">
                  <% @approved_courses.each do |course| %>
                    <tr class="border-b border-gray-2">
                      <td class="whitespace-nowrap py-4 px-3"><%= course.user.email%></td>
                      <td class="whitespace-nowrap py-4 px-3"><%= course.course_name%></td>
                      <td class="py-4 px-3">
                        <p class="line-clamp-1 max-w-[600px] w-full">
                          <%= course.course_location%>
                        </p>
                      </td>
                      <td class="py-4 px-3 flex items-center gap-3">
                        <p class="text-xs font-normal text-primary">Approve</p>
                        <div class="size-6">
                          <%= image_tag '/assets/svg/approve.svg', alt: '', class: '' %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="hidden" id="Declined" role="tabpanel" aria-labelledby="Declined-tab">
            <div class="overflow-x-auto scrollbar">
              <table class="min-w-full bg-white">
                <thead class="bg-[#E8F6FF]">
                  <tr>
                    <th class="text-left p-3 text-black text-sm font-medium rounded-l-md">E-mail</th>
                    <th class="text-left p-3 text-black text-sm font-medium">Course Name</th>
                    <th class="text-left p-3 text-black text-sm font-medium">Location</th>
                    <th class="text-left p-3 text-black text-sm font-medium rounded-r-md">Actions</th>
                  </tr>
                </thead>
                <tbody class="text-sm font-normal text-typo">
                  <% @declined_courses.each do |course| %>
                    <tr class="border-b border-gray-2">
                      <td class="whitespace-nowrap py-4 px-3"><%= course.user.email%></td>
                      <td class="whitespace-nowrap py-4 px-3"><%= course.course_name%></td>
                      <td class="py-4 px-3">
                        <p class="line-clamp-1 max-w-[600px] w-full">
                          <%= course.course_location%>
                        </p>
                      </td>
                      <td class="py-4 px-3 flex items-center gap-3">
                        <%= button_to 'Delete', admins_course_path(course), method: :delete, class: 'text-xs font-normal text-primary' %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden" id="Problems" role="tabpanel" aria-labelledby="Problems-tab">
        <div class="mb-3 px-3 py-2 bg-[#F6F6F6] rounded-md w-full">
          <ul class="flex gap-4 text-xs font-semibold text-center" id="inner-tab" data-tabs-toggle="#inner-tab-content" role="tablist">
            <li class="" role="presentation">
              <button class="inline-block text-secondary hover:!text-secondary aria-selected:!text-black" id="New-tab" data-tabs-target="#New" type="button" role="tab" aria-controls="New" aria-selected="false">New</button>
            </li>
            <li class="" role="presentation">
              <button class="inline-block text-secondary hover:!text-secondary aria-selected:!text-black" id="archived-tab" data-tabs-target="#Archived" type="button" role="tab" aria-controls="Archived" aria-selected="false">Archived</button>
            </li>
          </ul>
        </div>
        <div id="inner-tab-content">
          <div class="hidden" id="New" role="tabpanel" aria-labelledby="New-tab">
            <div class="overflow-x-auto scrollbar">
              <table class="min-w-full bg-white">
                <thead class="bg-[#E8F6FF]">
                  <tr>
                    <th class="text-left p-3 text-black text-sm font-medium rounded-l-md">E-mail</th>
                    <th class="text-left p-3 text-black text-sm font-medium">Topic</th>
                    <th class="text-left p-3 text-black text-sm font-medium">Description</th>
                    <th class="text-left p-3 text-black text-sm font-medium rounded-r-md">Action</th>
                  </tr>
                </thead>
                <tbody class="text-sm font-normal text-typo">
                  <% @new_issues.each do |issue| %>
                    <tr class="border-b border-gray-2">
                      <td class="whitespace-nowrap py-4 px-3"><%= issue.email %></td>
                      <td class="whitespace-nowrap py-4 px-3"><%= issue.subject %></td>
                      <td class="py-4 px-3">
                        <p class="line-clamp-1 max-w-[600px] w-full">
                          <%= issue.body %>
                        </p>
                      </td>
                      <td class="py-4 px-3 flex items-center gap-3">
                        <button type="button" data-modal-target="popup-modal<%= issue.id %>" data-modal-toggle="popup-modal<%= issue.id %>" class="size-6 cursor-pointer">
                          <%= image_tag '/assets/svg/mdi_eye.svg', alt: '', class: '' %>
                        </button>
                        <div id="popup-modal<%= issue.id %>" tabindex="-1" class="fixed hidden bg-black px-5 md:px-0 bg-opacity-50 inset-0 justify-center items-center z-50">
                          <div class="w-full max-w-[550px] h-fit relative mx-auto bg-white rounded shadow-[0px_0px_12px_0px_#0000001F]">
                            <div class="px-4 md:px-12 py-5">
                              <div class="flex justify-between items-center mb-8">
                                <h1 class="text-xl font-medium">View problem</h1>
                                <div data-modal-hide="popup-modal<%= issue.id %>" class="bg-transparent hover:bg-gray-200 rounded-lg p-1.5 cursor-pointer">
                                  <%= image_tag '/assets/svg/close.svg', alt: '', class: 'size-6' %>
                                </div>
                              </div>
                              <div class="flex flex-col gap-y-4 mb-4 lg:mb-8">
                                <div class="w-full">
                                  <label class="text-sm font-medium text-primary mb-2">E-mail</label>
                                  <div class="border border-gray-2 mt-2 rounded text-sm font-normal text-black block w-full px-3 py-2">
                                    <%= issue.email %>
                                  </div>
                                </div>
                                <div class="w-full">
                                  <label class="text-sm font-medium text-primary mb-2">Topic</label>
                                  <div class="border border-gray-2 mt-2 rounded text-sm font-normal text-black block w-full px-3 py-2">
                                    <%= issue.subject %>
                                  </div>
                                </div>
                                <div class="w-full">
                                  <label class="text-sm font-medium text-primary mb-2">Description</label>
                                  <div class="line-clamp-6 whitespace-normal min-h-20 border border-gray-2 break-all mt-2 rounded text-sm font-normal text-typo block w-full px-3 py-2">
                                    <%= issue.body %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button type="button" data-modal-target="popup-modal3-<%= issue.id %>" data-modal-toggle="popup-modal3-<%= issue.id %>" class="size-6 cursor-pointer">
                          <%= image_tag '/assets/svg/mail.svg', alt: '', class: '' %>
                        </button>
                        <div id="popup-modal3-<%= issue.id %>" tabindex="-1" class="fixed hidden bg-black px-5 md:px-0 bg-opacity-50 inset-0 justify-center items-center z-50">
                          <div class="w-full max-w-[550px] relative mx-auto bg-white rounded shadow-[0px_0px_12px_0px_#0000001F]">
                            <div class="px-4 md:px-12 py-5">
                              <div class="flex justify-between items-center mb-8">
                                <h1 class="text-xl font-medium">Send a message</h1>
                                <div data-modal-hide="popup-modal3-<%= issue.id %>" class="bg-transparent hover:bg-gray-200 rounded-lg p-1.5 cursor-pointer">
                                  <%= image_tag '/assets/svg/close.svg', alt: '', class: 'size-6' %>
                                </div>
                              </div>
                              <%= form_with url: send_message_admins_suggestion_path(issue), method: :post, local: true do |f| %>
                                <div class="flex flex-col gap-y-4 mb-4 lg:mb-8">
                                  <div class="w-full">
                                    <label class="text-sm font-medium text-primary mb-2">E-mail</label>
                                    <%= f.email_field :email, value: issue.email, class: 'border border-gray-2 mt-2 rounded text-sm font-normal text-black block w-full px-3 py-2 focus:!ring-0', required: true, readonly: true %>
                                  </div>
                                  <div class="w-full">
                                    <label class="text-sm font-medium text-primary mb-2">Message</label>
                                    <%= f.text_area :message, rows: 3, class: 'border border-gray-2 hover:border-primary resize-none mt-2 rounded text-sm font-normal text-black block w-full px-3 py-2 placeholder:text-secondary focus:outline-transparent focus:ring-0 !outline-none', placeholder: 'Enter your text' , required: true %>
                                  </div>
                                </div>
                                <div class="flex justify-end">
                                  <%= f.submit 'Send a message', data: { modal_hide: "popup-modal3-#{issue.id}" }, class: 'cursor-pointer w-40 h-[34px] flex text-xs font-normal rounded justify-center items-center bg-primary text-white hover:opacity-80' %>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="hidden" id="Archived" role="tabpanel" aria-labelledby="archived-tab">
            <div class="overflow-x-auto scrollbar">
              <table class="min-w-full bg-white">
                <thead class="bg-[#E8F6FF]">
                  <tr>
                    <th class="text-left p-3 text-black text-sm font-medium rounded-l-md">E-mail</th>
                    <th class="text-left p-3 text-black text-sm font-medium">Topic</th>
                    <th class="text-left p-3 text-black text-sm font-medium">Description</th>
                    <th class="text-left p-3 text-black text-sm font-medium rounded-r-md">Actions</th>
                  </tr>
                </thead>
                <tbody class="text-sm font-normal text-typo">
                  <% @archived_issues.each do |issue| %>
                    <tr class="border-b border-gray-2">
                      <td class="whitespace-nowrap py-4 px-3"><%= issue.email%>
                      </td>
                      <td class="whitespace-nowrap py-4 px-3"><%= issue.subject%>
                      </td>
                      <td class="py-4 px-3">
                        <p class="line-clamp-1 max-w-[600px] w-full">
                          <%= issue.body%>
                        </p>
                      </td>
                      <td class="py-4 px-3 flex items-center gap-3">
                        <div class="size-6">
                          <button type="button" data-modal-target="popup-modalarchived-<%= issue.id %>" data-modal-toggle="popup-modalarchived-<%= issue.id %>" class="size-6 cursor-pointer">
                            <%= image_tag '/assets/svg/mdi_eye.svg', alt: '', class: '' %>
                          </button>
                          <div id="popup-modalarchived-<%= issue.id %>" tabindex="-1" class="fixed hidden bg-black px-5 md:px-0 bg-opacity-50 inset-0 justify-center items-center z-50">
                            <div class="w-full max-w-[550px] h-fit relative mx-auto bg-white rounded shadow-[0px_0px_12px_0px_#0000001F]">
                              <div class="px-4 md:px-12 py-5">
                                <div class="flex justify-between items-center mb-8">
                                  <h1 class="text-xl font-medium">View problem</h1>
                                  <div data-modal-hide="popup-modalarchived-<%= issue.id %>" class="bg-transparent hover:bg-gray-200 rounded-lg p-1.5 cursor-pointer">
                                    <%= image_tag '/assets/svg/close.svg', alt: '', class: 'size-6' %>
                                  </div>
                                </div>
                                <div class="flex flex-col gap-y-4 mb-4 lg:mb-8">
                                  <div class="w-full">
                                    <label class="text-sm font-medium text-primary mb-2">E-mail</label>
                                    <div class="border border-gray-2 mt-2 rounded text-sm font-normal text-black block w-full px-3 py-2">
                                      <%= issue.email %>
                                    </div>
                                  </div>
                                  <div class="w-full">
                                    <label class="text-sm font-medium text-primary mb-2">Topic</label>
                                    <div class="border border-gray-2 mt-2 rounded text-sm font-normal text-black block w-full px-3 py-2">
                                      <%= issue.subject %>
                                    </div>
                                  </div>
                                  <div class="w-full">
                                    <label class="text-sm font-medium text-primary mb-2">Description</label>
                                    <div class="line-clamp-6 whitespace-normal min-h-20 border border-gray-2 break-all mt-2 rounded text-sm font-normal text-typo block w-full px-3 py-2">
                                      <%= issue.body %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="size-6">
                          <button type="button" data-modal-target="popup-modalarchived2-<%= issue.id %>" data-modal-toggle="popup-modalarchived2-<%= issue.id %>" class="size-6 cursor-pointer">
                            <%= image_tag '/assets/svg/mail.svg', alt: '', class: '' %>
                          </button>
                          <div id="popup-modalarchived2-<%= issue.id %>" tabindex="-1" class="fixed hidden bg-black px-5 md:px-0 bg-opacity-50 inset-0 justify-center items-center z-50">
                            <div class="w-full max-w-[550px] relative mx-auto bg-white rounded shadow-[0px_0px_12px_0px_#0000001F]">
                              <div class="px-4 md:px-12 py-5">
                                <div class="flex justify-between items-center mb-8">
                                  <h1 class="text-xl font-medium">Send a message</h1>
                                  <div data-modal-hide="popup-modalarchived2-<%= issue.id %>" class="bg-transparent hover:bg-gray-200 rounded-lg p-1.5 cursor-pointer">
                                    <%= image_tag '/assets/svg/close.svg', alt: '', class: 'size-6' %>
                                  </div>
                                </div>
                                <%= form_with url: send_message_admins_suggestion_path(issue), method: :post, local: true do |f| %>
                                  <div class="flex flex-col gap-y-4 mb-4 lg:mb-8">
                                    <div class="w-full">
                                      <label class="text-sm font-medium text-primary mb-2">E-mail</label>
                                      <%= f.email_field :email, value: issue.email, class: 'border border-gray-2 mt-2 rounded text-sm font-normal text-black block w-full px-3 py-2 focus:!ring-0', required: true, readonly: true %>
                                    </div>
                                    <div class="w-full">
                                      <label class="text-sm font-medium text-primary mb-2">Message</label>
                                      <%= f.text_area :message, rows: 3, class: 'border border-gray-2 hover:border-primary resize-none mt-2 rounded text-sm font-normal text-black block w-full px-3 py-2 placeholder:text-secondary focus:outline-transparent focus:ring-0 !outline-none', placeholder: 'Enter your text' , required: true %>
                                    </div>
                                  </div>
                                  <div class="flex justify-end">
                                    <%= f.submit 'Send a message', data: { modal_hide: "popup-modal3-#{issue.id}" }, class: 'cursor-pointer w-40 h-[34px] flex text-xs font-normal rounded justify-center items-center bg-primary text-white hover:opacity-80' %>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>