<div class="flex min-h-screen items-center justify-center p-5">
  <div class="max-w-[360px] w-full md:mx-auto">
    <div class="mb-8">
      <%= image_tag '/assets/svg/Logo.svg', alt: '', class: 'w-28 h-20 mx-auto' %>
    </div>
    <h1 class="text-2xl font-semibold text-black text-center mb-6">Sign Up</h1>
    <% resource = Admin.new %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "admins/shared/error_messages", resource: resource %>
      <div class="field mb-4">
        <%= f.label :full_name , class: "capitalize text-xs font-normal text-secondary block" %>
        <%= f.text_field :full_name, placeholder: 'Enter your full name', autofocus: true, autocomplete: "email" , class: "border border-gray-2 hover:border-primary focus:ring-0 bg-gray-3 mt-2 rounded-md !outline-none text-sm placeholder-secondary block w-full px-3 py-3" %>
      </div>
      <div class="field mb-4">
        <%= f.label :email , class: "text-xs font-normal text-secondary mb-2 block" %>
        <%= f.email_field :email, placeholder: 'Enter your email', autofocus: true, autocomplete: "email" , class: "border border-gray-2 hover:border-primary focus:ring-0 bg-gray-3 mt-2 rounded-md !outline-none text-sm placeholder-secondary block w-full px-3 py-3" %>
      </div>
      <div class="field mb-4 relative">
        <%= f.label :password , class: 'text-xs font-normal text-secondary mb-2 block' %>
        <% if @minimum_password_length %>
          <%# <em>(<%= @minimum_password_length characters minimum)</em> %>
        <% end %>
        <%= f.password_field :password, placeholder: 'Enter your password', autocomplete: "new-password" , class: 'password-field border border-gray-2 hover:border-primary focus:ring-0 bg-gray-3 mt-2 rounded-md !outline-none text-sm placeholder-secondary block w-full px-3 py-3' %>
        <div class="absolute top-[39px] right-3.5 cursor-pointer">
          <%= image_tag '/assets/svg/Eye-icon.svg', alt: '', class: 'toggle-password size-4' , id: 'togglePassword1' %>
        </div>
      </div>
      <div class="field relative mb-5">
        <%= f.label :password_confirmation , class: 'text-xs font-normal text-secondary mb-2 block' %>
        <%= f.password_field :password_confirmation, placeholder: 'Enter your confirm password', autocomplete: "new-password" , class: 'password-field border border-gray-2 hover:border-primary focus:ring-0 bg-gray-3 mt-2 rounded-md !outline-none text-sm placeholder-secondary block w-full px-3 py-3' %>
        <div class="absolute top-[39px] right-3.5 cursor-pointer">
          <%= image_tag '/assets/svg/Eye-icon.svg', alt: '', class: 'toggle-password size-4' , id: 'id="togglePassword2"' %>
        </div>
      </div>
      <div class="flex gap-2 mb-2 items-center">
      </div>
      <div class="actions">
        <%= f.submit "Sign up" , class: 'py-3 w-full mb-6 rounded text-white text-sm font-medium hover:opacity-80 bg-primary transition-all cursor-pointer' %>
      </div>
    <% end %>
    <div class="flex justify-center gap-2 items-center">
      <p class="text-xs font-normal text-typo">
        Already have an account?
      </p>
      <%= render "admins/shared/links" %>
    </div>
  </div>
</div>
