<div class="p-3 sm:p-5">
  <div class="flex justify-between gap-4 border-b border-gray-2 pb-5 max-md:flex-col max-lg:flex-wrap">
    <form method="get" action="<%= admins_courses_path %>" class="sm:max-w-[220px] w-full">
      <select
        name="filter"
        id="countries"
        class="border border-gray-2 text-black text-sm rounded cursor-pointer hover:border-primary focus:!ring-0 block w-full p-2.5"
        onchange="this.form.submit()">
        <option value="all" <%= 'selected' if params[:filter] == 'all' %>>All</option>
        <option value="frequently" <%= 'selected' if params[:filter] == 'frequently' %>>Frequently Booked</option>
        <option value="recently" <%= 'selected' if params[:filter] == 'recently' %>>Recently Searched</option>
      </select>
    </form>

    <%= form_with url: admins_courses_path, method: :get, local: true, class: "max-w-[373px] w-full relative" do |f| %>
      <%= f.search_field :search, placeholder: "search", value: params[:search], class: "pl-11 w-full !border-gray-2 border hover:!border-primary focus:!border-primary focus:!ring-0 rounded-full" %>
      <%= image_tag '/assets/svg/search.svg', alt: '', class: 'absolute top-3 left-3 size-5' %>
    <% end %>
  </div>
  <div class="scrollbar overflow-x-auto pt-5">
    <table class="w-full table-auto border-collapse">
      <thead class="bg-sky-blue  rounded-t-md">
        <tr class="">
          <th class="p-3 text-left text-sm font-medium text-black">
            Name
          </th>
          <th class="p-3 text-left text-sm font-medium text-black">
            Phone number
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-2">
        <% @courses.each do |course| %>
          <tr class="">
            <td class="p-3 text-sm font-normal text-black flex items-center">
              <%= image_tag '/assets/svg/avatar.svg', alt: '', class: 'inline-flex h-6 w-6 rounded-full mr-2' %>
              <%= course.course_name %>
            </td>
            <td class="p-3 text-sm font-normal text-black">
              <%= course.user&.phone_number %>
            </td>
          </tr>
        <% end %>
        <% if @courses.empty? %>
          <tr>
            <td colspan="2" class="p-3 text-sm font-normal text-gray-500 text-center">
              No courses found for your search criteria.
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

