<div class="p-5 w-full border-b border-gray-2 bg-gray-3">
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-3">
    <div class="bg-white border border-gray-2 p-3 rounded">
      <%= image_tag '/assets/svg/user2.svg', alt: '', class: 'size-6' %>
      <p class="text-sm font-normal text-secondary mt-5">
        Total number of users
      </p>
      <h1 class="text-[28px]/8 text-medium text-black mt-3"><%= @total_users.count %></h1>
    </div>
    <div class="bg-white border border-gray-2 p-3 rounded">
      <%= image_tag '/assets/svg/user.svg', alt: '', class: 'size-6' %>
      <p class="text-sm font-normal text-secondary mt-5">
        New users (this week)
      </p>
      <h1 class="text-[28px]/8 text-medium text-black mt-3">
        <%= @total_users.where('created_at >= ?', 1.week.ago).count %>
      </h1>
    </div>
    <div class="bg-white border border-gray-2 p-3 rounded">
      <%= image_tag '/assets/svg/user.svg', alt: '', class: 'size-6' %>
      <p class="text-sm font-normal text-secondary mt-5">
        New users (this month)
      </p>
      <h1 class="text-[28px]/8 text-medium text-black mt-3">
        <%= @total_users.where('created_at >= ?', 1.month.ago).count %>
      </h1>
    </div>
    <div class="bg-white border border-gray-2 p-3 rounded">
      <%= image_tag '/assets/svg/golf-course.svg', alt: '', class: 'size-6' %>
      <p class="text-sm font-normal text-secondary mt-5">
        Total number of golf courses
      </p>
      <h1 class="text-[28px]/8 text-medium text-black mt-3">
        <%= Course.count %>
      </h1>
    </div>
  </div>
</div>
<div class="bg-white w-full py-3 px-5 sm:p-5">
  <div class="flex justify-between gap-6 border-b border-gray-2 pb-5 max-md:flex-col max-xl:flex-wrap">
    <%= render '/admins/dashboard/calender' %>
    <div class="flex max-md:flex-wrap gap-2.5 md:gap-5 justify-start md:justify-end h-fit w-full">
      <%= form_with url: admins_dashboard_index_path, method: :get, local: true, class: "md:max-w-[373px] w-full relative h-fit" do |f| %>
        <%= f.text_field :search, placeholder: "Search", class: "pl-11 w-full !border-gray-2 border rounded-full focus:!border-primary hover:!border-primary focus:ring-0" %>
        <%= image_tag '/assets/svg/search.svg', alt: '', class: 'absolute top-3 left-3 size-5' %>
      <% end %>
      <button type="button" class="h-fit flex px-3 py-2.5 items-center text-sm font-medium hover:border-primary text-black border border-gray-2 rounded w-full sm:max-w-[133px]" aria-expanded="false" id="dropdownActionsButton" data-dropdown-toggle="dropdownActions">
        <%= image_tag '/assets/svg/setting.svg', alt: '', class: 'mr-2 size-5' %>
        Actions
        <%= image_tag '/assets/svg/arrowdown.svg', alt: '', class: 'ml-3 size-5' %>
      </button>
      <div id="dropdownActions" class="z-10 hidden bg-white !-left-4 rounded shadow-btn w-full max-w-[230px] dark:bg-gray-700 dark:divide-gray-600">
        <ul class="text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownActionsButton">
          <li>
            <button 
              type="button" 
              data-modal-target="deletepopup-modal" 
              data-modal-toggle="deletepopup-modal" 
              class="w-full flex items-center gap-1.5 text-xs font-normal text-black px-3 py-2 hover:bg-gray-100" >
              <%= image_tag '/assets/svg/delete.svg', alt: '', class: 'ml-3 size-5' %>
              Delete
            </button>
          </li>
          <li>
            <button type="button" data-modal-target="notificationpopup-modal" data-modal-toggle="notificationpopup-modal" class="w-full flex items-center gap-1.5 text-xs font-normal text-black px-3 border-t border-gray-5 py-2 hover:bg-gray-100">
              <%= image_tag '/assets/svg/notification.svg', alt: '', class: 'ml-3 size-5' %>
              Send in-app notifications
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="scrollbar overflow-x-auto pt-5">
    <table class="w-full table-auto border-collapse">
      <thead class="bg-sky-blue">
        <tr>
          <th class="p-3 text-left text-sm font-medium text-black">
            <input type="checkbox" id="select-all" class="rounded !border !border-gray-2 size-4 cursor-pointer !appearance-none checked:!bg-primary checked:!border-primary focus:!outline-none focus:ring-0 transition"/>
          </th>
          <th class="p-3 text-left text-sm font-medium text-black max-lg:min-w-[170px]">
            Name
          </th>
          <th class="p-3 text-left text-sm font-medium text-black">
            E-mail
          </th>
          <th class="whitespace-nowrap p-3 text-left text-sm font-medium text-black">
            Phone number
          </th>
          <th class="whitespace-nowrap p-3 text-left text-sm font-medium text-black">
            <div class="flex gap-2 justify-between">
              Sign-up date
              <%= link_to image_tag('/assets/svg/sort.svg', alt: '', class: 'size-[18px]'), 
                          admins_dashboard_index_path(sort: @sort_direction == "asc" ? "desc" : "asc", search: params[:search], start: params[:start], end: params[:end]), method: :get %>
            </div>
          </th>
          <th class="whitespace-nowrap p-3 text-left text-sm font-medium text-black">
            User activity
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-2">
        <% if @users.any? %>
          <% @users.each do |user| %>
            <tr>
              <td class="p-3 text-sm font-normal text-black">
                <input type="checkbox" class="user-checkbox rounded !border !border-gray-2 size-4 cursor-pointer !appearance-none checked:!bg-primary checked:!border-primary focus:!outline-none focus:ring-0 transition" data-id="<%= user.id %>" data-action="delete-users#toggleSelection" />
              </td>
              <td class="p-3 text-sm font-normal text-black flex items-center">
                <%= image_tag '/assets/svg/avatar.svg', alt: '', class: 'inline-flex h-6 w-6 rounded-full mr-2' %>
                <%= user&.first_name %>
              </td>
              <td class="p-3 text-sm font-normal text-black"><%= user.email %></td>
              <td class="p-3 text-sm font-normal text-black">
                <%= user&.phone_number %>
              </td>
              <td class="p-3 text-sm font-normal text-black"><%= user.created_at.to_datetime.strftime("%Y-%m-%d") %></td>
              <td class="p-3 text-sm font-normal text-black">
                <span class="inline-flex items-center">
                  <% if user.active? %>
                    <span class="h-2 w-2 bg-[#13C728] rounded-full mr-2.5"></span>
                    Active
                  <% elsif user.average? %>
                    <span class="h-2 w-2 bg-[#ffbb28] rounded-full mr-2.5"></span>
                    Average
                  <% else %>
                    <span class="h-2 w-2 bg-[#FD3430] rounded-full mr-2.5"></span>
                    Not Active
                  <% end %>
                </span>
              </td>
            </tr>
          <% end %>
          <tr>
            <td colspan="6" class="p-3 text-sm font-normal text-black text-center">
              <%= will_paginate @users %>
            </td>
          </tr>
        <% else %>
          <tr>
            <td colspan="6" class="p-3 text-sm font-normal text-black text-center">
              No users found.
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render '/admins/dashboard/notification_modal' %>
<%= render '/admins/dashboard/setting_modal' %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const selectAllCheckbox = document.getElementById("select-all");
    const userCheckboxes = document.querySelectorAll(".user-checkbox");

    selectAllCheckbox.addEventListener("change", function() {
      userCheckboxes.forEach(checkbox => checkbox.checked = selectAllCheckbox.checked);
    });
  });
</script>
