<div class="flex min-h-screen items-center justify-center p-5">
  <div class="max-w-[360px] w-full md:mx-auto">
    <div class="mb-8">
      <%= image_tag '/assets/svg/Logo.svg', alt: '', class: 'w-28 h-20 mx-auto' %>
    </div>
    <h2 class="text-2xl font-semibold text-black text-center mb-3">Forgot your password?</h2>
    <p class="text-sm font-normal text-center text-secondary mb-6">Enter the email address you used to register with. This will send you a new 
      email that will link you to the password change website. </p>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "admins/shared/error_messages", resource: resource %>
      <div class="field mb-6">
        <%= f.label :email , class:'text-xs font-normal text-secondary mb-2 block' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'border border-gray-2 hover:border-primary focus:ring-0 bg-gray-3 mt-2 rounded-md !outline-none text-sm placeholder-secondary  block w-full px-3 py-3', id: 'email-field' %>
      </div>
      <div class="actions mb-6">
        <%= f.submit "Reset password" , class: 'py-3 w-full rounded-md text-white text-sm font-medium hover:opacity-80 bg-primary transition-all cursor-pointer', id: 'reset-password-button', disabled: true %>
      </div>
      <div class="flex justify-center gap-2">
        <p class="text-xs font-normal text-typo">Have an account?</p>
        <%= link_to "Log in", new_session_path(resource_name) , class: 'text-xs font-medium text-primary hover:opacity-80' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  const emailField = document.getElementById('email-field');
  const submitButton = document.getElementById('reset-password-button');

  function toggleButtonState() {
    const emailIsEmpty = emailField.value.trim() === "";

    submitButton.disabled = emailIsEmpty;
    submitButton.classList.toggle("opacity-50", submitButton.disabled);
    submitButton.classList.toggle("cursor-not-allowed", submitButton.disabled);

    if (!emailIsEmpty) {
      checkEmail(emailField.value);
    }
  }

  function checkEmail(email) {
    fetch(`/check_email?email=${encodeURIComponent(email)}`)
      .then(response => response.json())
      .then(data => {
        submitButton.disabled = !data.exists;
        submitButton.classList.toggle("opacity-50", submitButton.disabled);
        submitButton.classList.toggle("cursor-not-allowed", submitButton.disabled);
      })
      .catch(error => console.error('Error checking email:', error));
  }

  emailField.addEventListener("input", toggleButtonState);
  document.addEventListener("DOMContentLoaded", toggleButtonState);
</script>
