<!DOCTYPE html>
<html>
  <head>
    <title>PlayLync</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js" %>

  </head>
  <body class="bg-white">
    <!-- Flash Messages -->
    <% if flash[:notice] %>
      <div id="notice" class="absolute bottom-4 right-8 bg-green-100 text-green-700 px-4 py-2 rounded mb-4 w-full max-w-[400px]">
        <span><%= flash[:notice] %></span>
        <button class="absolute top-1 right-2 text-xl font-bold text-green-700" onclick="this.parentElement.style.display='none'">&times;</button>
        <!-- Progress bar container -->
        <div class="flash-progress-bar">
          <div class="flash-progress-success"></div>
        </div>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div id="alert" class="absolute top-24 left-1/2 -translate-x-1/2 bg-red-100 text-red-700 px-4 py-2 rounded mb-4 w-full max-w-[400px]">
        <span><%= flash[:alert] %></span>
        <button class="absolute top-1 right-2 text-xl font-bold text-red-700" onclick="this.parentElement.style.display='none'">&times;</button>
        <!-- Progress bar container -->
        <div class="flash-progress-bar">
          <div class="flash-progress-error"></div>
        </div>
      </div>
    <% end %>

    <% if controller_name == "dashboard" || controller_name == "courses" %>
      <%= render 'layouts/sidebar' %>
      <main class="ml-0 md:!ml-[220px] bg-white">
        <%= render 'layouts/header' %>
      <% end %>
      <%= yield %>
    </main>

  <script>
    setTimeout(function() {
      var notice = document.getElementById('notice');
      var alert = document.getElementById('alert');
      if (notice) {
        notice.style.display = 'none';
      }
      if (alert) {
        alert.style.display = 'none';
      }
    }, 4000);
  </script>
  </body>
</html>
